* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #000000;
    line-height: 1.5;
    overflow-x: hidden;

}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.gran_contenedor {
    display: flex;
    width: 100%;
    min-height: 100vh;
}
