* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #ffffff;
    color: #333333;
}

.contenedor-principal {
    display: flex;
}

.barra-lateral {
    width: 260px;
    background-color: #ffffff;
    border-right: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
}

.logo-contenedor {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.espacio-imagen-logo {
    width: 60px;
    height: 60px;
        max-width: 60px;
    max-height: 60px;


}

.logo-contenedor h1 {
    font-size: 20px;
    font-weight: bold;
}

.navegacion {
    flex-grow: 1;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.enlace-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 15px;
    text-decoration: none;
    color: #555555;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.enlace-nav:hover {
    background-color: #b3b3b3;
}

.enlace-nav.activo {
    background-color: #e0e0e0;
    color: #000000;
}

.espacio-icono {
    width: 25px;
    height: 25px;
    
    display: inline-block;
}

.espacio-icono-blanco {
    width: 18px;
    height: 18px;
    border: 1px dashed #ffffff;
    display: inline-block;
}

.pie-lateral {
    padding: 20px;
    border-top: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: auto;
}

.boton-cerrar-sesion {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    font-weight: bold;
    width: fit-content;
}

.perfil-usuario {
    display: flex;
    align-items: center;
    gap: 10px;
}

.espacio-imagen-perfil {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #000000;
}

.textos-perfil {
    display: flex;
    flex-direction: column;
}

.nombre-perfil {
    font-size: 14px;
    font-weight: bold;
}

.rol-perfil {
    font-size: 12px;
    color: #888888;
}
barra-filtros {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    align-items: center;
    flex-wrap: wrap;
}

.caja-buscar {
    flex: 1;
    min-width: 250px;
    display: flex;
    align-items: center;
    background: #f0f0f0;
    padding: 10px 15px;
    border-radius: 8px;
    gap: 10px;
}

.input-buscar {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    font-size: 14px;
    color: #333;
}
